<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" width="132" height="40" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tasks">Tasks</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/classes">Classes</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{!-- hide logins if logged in --}}
          {{#unless username}}
          <a class="dropdown-item" href="/account/signin">Sign In</a>
          <a class="dropdown-item" href="/account/register">Register</a>
          {{/unless}}
          {{!-- <div class="dropdown-divider"></div> --}}
          {{!-- <a class="dropdown-item" href="#">Settings</a> --}}
          {{#if username}}
          <a class="dropdown-item" href="/account/logout">Logout</a>
          {{/if}}
        </div>
      </li>
    </ul>
    {{#if username}}
    <span class="navbar-text">
      Loggen in as: {{username}}!
    </span>
    {{/if}}
  </div>
</nav>