<div class="mt-3">
    <h1 class="text-center">Add a Class</h1>
    <div class="bg-warning text-dark p-5">
        <form action="#" method="POST">
            <div class="form-row p-2">
                <div class="form-group col-md-12">
                    <label for="inputName">Name of Class</label>
                    <input name="name" type="text" class="form-control" id="inputTitle" required>
                </div>
            </div>
            <button class="btn btn-primary mr-3">Upload</button>
        </form>
    </div>
</div>