<div class="mt-3">
    <h1 class="text-center">Physics Class</h1>
    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo impedit ea, blanditiis vero
        illum voluptate suscipit molestiae labore hic repellendus numquam officiis doloremque voluptatum autem provident
        esse culpa ipsa ratione.</p>
</div>